### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
num_schools = school_data["school_name"].count()
student_tot = school_data_complete["student_name"].count()
budg_tot = school_data["budget"].sum()
avg_math = school_data_complete["math_score"].mean()
avg_read = school_data_complete["reading_score"].mean()
#making pass bin fails for passing percentage calculations
pass_bin = [0,70,100]
pass_labels = ["Fail","Pass"]
school_data_complete["read_res"] = pd.cut(school_data_complete["reading_score"], pass_bin, labels=pass_labels)
school_data_complete["math_res"] = pd.cut(school_data_complete["math_score"], pass_bin, labels=pass_labels)
#calculating the passing for each subject
read_pass_count = (school_data_complete["read_res"] == "Pass").sum()
read_pass_perc = (read_pass_count / student_tot)
math_pass_count = (school_data_complete["math_res"] == "Pass").sum()
math_pass_perc = (math_pass_count / student_tot)
combo_pass_count = ((school_data_complete["read_res"] == "Pass") & (school_data_complete["math_res"] == "Pass")).sum()
combo_pass_perc = (combo_pass_count / student_tot)
#formatting
dist_summ_df = pd.DataFrame([[num_schools,student_tot,budg_tot,avg_math,math_pass_perc,avg_read,read_pass_perc,combo_pass_perc]], columns=["Total Schools","Total Students","Total Budget","Average Math Score","% Passing Math","Average Reading Score","% Passing Reading","% Overall Passing"])
form_dic = {"Total Students":"{:,.0f}", "Total Budget":"${0:,.2f}", "Average Math Score":"{:,.2f}", "Average Reading Score":"{:,.2f}", "% Passing Math":"{:.2%}", "% Passing Reading":"{:.2%}", "% Overall Passing":"{:.2%}", "Total School Budget":"${0:,.2f}", "Per Student Budget":"${0:,.2f}", "9th":"{:,.2f}", "10th":"{:,.2f}", "11th":"{:,.2f}", "12th":"{:,.2f}"}


dist_summ_df.style.format(form_dic)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#setting initial data frames to work off of
school_data_complete = school_data_complete.rename(columns={"school_name":"School Name"})
group_schools = school_data_complete.groupby("School Name")
group_schools_2 = school_data_complete.set_index("School Name")
#pulling specific data to use in making columns
    #type and budget columns data
group_sch_set_vars = group_schools_2.loc[ : , ["type", "budget"]]
    #percentage of passing student data
pass_fail_read = group_schools_2.loc[group_schools_2["read_res"] != "Fail"]
pass_fail_math = group_schools_2.loc[group_schools_2["math_res"] != "Fail"]
pass_fail_combo =  group_schools_2.loc[(group_schools_2["math_res"] != "Fail") & (group_schools_2["read_res"] != "Fail")]
read_pass_ss = pass_fail_read.groupby("School Name").agg(read_pass_count = pd.NamedAgg(column="student_name", aggfunc="count"))
math_pass_ss = pass_fail_math.groupby("School Name").agg(math_pass_count = pd.NamedAgg(column="student_name", aggfunc="count"))
combo_pass_ss = pass_fail_combo.groupby("School Name").agg(combo_pass_count = pd.NamedAgg(column="student_name", aggfunc="count"))
    #average of scores data
group_sch_avgs = group_schools[["math_score", "reading_score"]].mean()
    #student count data
group_sch_stu_count = group_schools.agg(Total_Students = pd.NamedAgg(column="student_name", aggfunc="count"))
#merging all data into one data frame
mer_sch_summ = pd.merge(pd.merge(group_sch_avgs,group_sch_stu_count, on="School Name"),group_sch_set_vars, on="School Name", how="left").drop_duplicates()
mer_sch_summ["Per Student Budget"] = mer_sch_summ["budget"]/mer_sch_summ["Total_Students"]
mer_sch_summ["% Passing Math"] = math_pass_ss["math_pass_count"] / group_sch_stu_count["Total_Students"]
mer_sch_summ["% Passing Reading"] = read_pass_ss["read_pass_count"] / group_sch_stu_count["Total_Students"]
mer_sch_summ["% Overall Passing"] = combo_pass_ss["combo_pass_count"] / group_sch_stu_count["Total_Students"]
#Formatting
#clean_Sch_Summ = pd.DataFrame([[group_sch_set_vars[["type"]],group_sch_stu_count[["Total_Students"]],group_sch_set_vars[["budget"]],mer_sch_summ[["Per Student Budget"]],group_sch_avgs[["math_score", "reading_score"]],mer_sch_summ[["% Passing Math","% Passing Reading","% Overall Passing"]]]], columns=["School Type","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"])
mer_sch_summ = mer_sch_summ.reindex(columns=["type", "Total_Students", "budget", "Per Student Budget", "math_score", "reading_score", "% Passing Math", "% Passing Reading", "% Overall Passing"])
mer_sch_summ_form = mer_sch_summ.rename(columns={"type":"School Type","Total_Students":"Total Students","budget":"Total School Budget","math_score":"Average Math Score","reading_score":"Average Reading Score"})

mer_sch_summ_form.style.format(form_dic)

In [4]:
## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [5]:
mer_sch_summ_form.sort_values("% Overall Passing",ascending=False).head().style.format(form_dic)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [6]:
mer_sch_summ_form.sort_values("% Overall Passing").head().style.format(form_dic)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
ninth = group_schools_2.query("grade=='9th'")
ninth = ninth.filter(["School Name", "math_score"])
math_sco_grade = ninth.groupby(["School Name"]).mean()
math_sco_grade = math_sco_grade.rename(columns={"math_score":"9th"})
tenth = group_schools_2.query("grade=='10th'")
tenth = tenth.filter(["School Name", "math_score"])
math_sco_grade["10th"] = tenth.groupby(["School Name"]).mean()
eleventh = group_schools_2.query("grade=='11th'")
eleventh = eleventh.filter(["School Name", "math_score"])
math_sco_grade["11th"] = eleventh.groupby(["School Name"]).mean()
twelth = group_schools_2.query("grade=='12th'")
twelth = twelth.filter(["School Name", "math_score"])
math_sco_grade["12th"] = twelth.groupby(["School Name"]).mean()


#school_data_complete.head()
math_sco_grade.style.format(form_dic)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
ninth = group_schools_2.query("grade=='9th'")
ninth = ninth.filter(["School Name", "reading_score"])
read_sco_grade = ninth.groupby(["School Name"]).mean()
read_sco_grade = read_sco_grade.rename(columns={"reading_score":"9th"})
tenth = group_schools_2.query("grade=='10th'")
tenth = tenth.filter(["School Name", "reading_score"])
read_sco_grade["10th"] = tenth.groupby(["School Name"]).mean()
eleventh = group_schools_2.query("grade=='11th'")
eleventh = eleventh.filter(["School Name", "reading_score"])
read_sco_grade["11th"] = eleventh.groupby(["School Name"]).mean()
twelth = group_schools_2.query("grade=='12th'")
twelth = twelth.filter(["School Name", "reading_score"])
read_sco_grade["12th"] = twelth.groupby(["School Name"]).mean()

read_sco_grade.style.format(form_dic)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
spend_bin = [0,585,630,645,680]
spend_labels = ["<$585","$585-630","$630-645","$645-680"]
mer_sch_summ_form["Spending Ranges (Per Student)"] = pd.cut(mer_sch_summ["Per Student Budget"], spend_bin, labels=spend_labels)
school_spend = mer_sch_summ_form.filter(["Spending Ranges (Per Student)", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])
school_spend = school_spend.groupby(["Spending Ranges (Per Student)"]).mean()
school_spend.style.format(form_dic)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
size_bin = [0,1000,2000,5000]
size_labels = ["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]
mer_sch_summ_form["School Size"] = pd.cut(mer_sch_summ["Total_Students"], size_bin, labels=size_labels)
school_size = mer_sch_summ_form.filter(["School Size", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])
school_size = school_size.groupby(["School Size"]).mean()
school_size.style.format(form_dic)

## Scores by School Type

* Perform the same operations as above, based on school type

In [11]:
#type_bin = [0,70,100]
#type_labels = ["Fail","Pass"]

school_type = pd.pivot_table(mer_sch_summ_form, values=["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"], index="School Type", aggfunc=np.mean, sort=False )
school_type = school_type.reindex(columns=["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])
school_type.style.format(form_dic)